body{
    background-color: rgb(226, 176, 210);
}

.RyF5{
    height: 300px;
}

.Revenant{
    height: 300px;
}

.endgame{
    height: 300px;
}

.F7{
    height: 300px;
}

.Joker{
    height: 300px;
}

.Trumanshow{
    height: 300px;
}

.Breakingbad{
    height: 300px;
}

.GOT{
    height: 300px;
}

.Simuladores{
    height: 300px;
}

.padre_peliculas1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.padre_peliculas2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.padre_series {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.padre_peliculasgeneros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    list-style-type: none;
}

.padre_seriesgeneros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    list-style-type: none;

}
