header{
    background-color: rgb(38, 6, 6);
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-size: 46px;
}

.block{
    text-align: center;
}


.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    list-style-type: none;
}


.buscardetalle{
    padding: 10px;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    
}


.button1{
    background-color: black;
    color: white;
    border:none;
    border-radius:10px;
    font-size: 20px;
    position:relative;
    display: flex;

}

.sinopsis{
    text-align: justify;
}


.añadirfavorito{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    list-style-type: none;
    box-sizing: border-box;
    border-radius: 10px;

}

.button{
    background-color: black;
    color: white;
    border: 10px;
    font-size: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    list-style-type: none;
    box-sizing: border-box;
    
}

.home{
    font-size: 30px;
}

.detailmov{
    font-size: 30px;
}

.detailser{
    font-size: 30px;
}

.fav{
    font-size: 30px;
}

.gen{
    font-size: 30px;
}

.detailgen{
    font-size: 30px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%; 
    align-items: center;
    justify-items: center;   
}
.buscador{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

.pie{
    background-color: black;
    margin: 10 px;
    padding: 40px;
}


i{color: orange;
}

h2{background-color: rgb(38, 6, 6);
color: orange;
}

h3{ 
    text-align: center;
}

h2{
    text-align: center; 
    font-size: 25px;
}

body{
    background-color: rgb(71, 14, 14);
}

.g{
    text-align: justify;
    color: lemonchiffon;
}

.RyF5{
    height: 300px;
    position: relative;
}

.Revenant{
    height: 300px;
}

.endgame{
    height: 300px;
}

.F7{
    height: 300px;
}

.Joker{
    height: 300px;
}

.Trumanshow{
    height: 300px;
}

.TGM{
    height: 300px;
}

.milnueve{
    height: 300px;
}

.FG{
    height: 300px;
}

.BohemianR{
    height: 300px;
}


.Breakingbad{
    height: 300px;
}

.GOT{
    height: 300px;
}

.Simuladores{
    height: 300px;
}

.TF{
    height: 300px;
}

.vikings{
    height: 300px;
}

.padre_peliculas1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-size: small;
    padding-left: 5px;
}

.padre_peliculas2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-size: small;
}

.padre_series {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-size: small;
    margin: 0px 0px 0px 20px;
    padding-left: 5px;
}
.creadores{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: orange;
    text-align: left;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}
.textCreadores{
    font-weight: bold;
    font-style: oblique;
    padding: 5px;
    margin: 10px;
}

.iconos2{
    padding: 10px;
    margin: 10px;
}

.espacioPie{
    color: rgb(38, 6, 6);
    background-color: rgb(38, 6, 6);
    height: 1in;
}

footer{
    background-color:rgb(38, 6, 6);
}

.busquedad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    list-style-type: none;


}


.padre_peliculasgeneros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    list-style-type: none;
    margin: 10px 0px 0px 0px;
}

.padre_seriesgeneros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    list-style-type: none;
    margin: 10px 0px 0px 0px;
}

.encabezado{
    margin: 50px 0px 0px 0px;
}
.subtitle{
    background-color: rgb(38, 6, 6);;
    font-size: 30px;
}

.containerpadre{
    margin: 10px 0px 0px 0px;
    padding: 0px;
    
}


.lidetallesseries{
    padding: 0px;
    margin: 0px;
}

.lidetallepeli{
    padding: 0px;
    margin: 0px;
}